# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
lib/
lib64/
__pypackages__/
share/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
stest.xml
. coverage
.coverage.*
.cache
nosetests.xml
*.cover
*.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/

# pyenv
.python-version

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json

# PyInstaller
# Usually these files are written by a python script from a .spec file
.DS_Store
*.egg-info/
*.eggs/
*.egg
